.producttile-container {
    display: flex;
    flex-flow: column;
    width: 20rem;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    border-radius: 0.5rem;;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.producttile-container h1, h2, p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.producttile-image {
    display: flex;
    overflow: hidden;
}
.producttile-image img {
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 15rem;
    transition: all 0.25s;
}
.producttile-image img:hover {
    transform: scale(1.1); 
}

#producttile-title {
    font-size: 1.25rem;
}
#producttile-price {
    font-size: 1rem;
    font-weight: 400;
}
#producttile-rating {
    font-size: 1rem;
    font-weight: 500;
}