.productpage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}

.productpage-back>button {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.productpage-main {
    display: flex;
    flex-direction: row;
}

.productpage-image img {
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.productpage-details {
    display: flex;
    flex-direction: column;
}