.products-container {
    display: flex;
    flex-flow: column;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
}
.products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }