.checkout-container {
    display: flex;
    flex-flow: column;
    max-width: 1281px;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}
.checkout-back > button {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}
.checkout-back>button:hover {
    color: rgb(56, 165, 255);
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 1px;
}
#checkout-no-items-msg {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.checkout-product {
    display: flex;
    flex-flow: row;
    margin-bottom: 2rem;
}
#checkout-img {
    height: 10rem;
}
.checkout-details {
    display: flex;
    flex-flow: row;
    width: 80%;
    height: 1.75rem;
    text-align: right;
    align-items: end;
    justify-content: space-evenly;
    margin-left: auto;
}
#checkout-name {
    width: 75%;
    text-align: left;
}
.checkout-details > input {
    width: 2rem;
    text-align: center;
}
.checkout-totals {
    text-align: end;
}