.navbar-container {
    display: flex;
    width: 100%;
    max-width: 1281px;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
}

/* fake store logo */
#navbar-logo {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(107, 206, 173);
    margin-left: 1rem;
    margin-right: 1rem;
}
#navbar-logo span {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(56, 165, 255);
}
.navbar-right-group {
    display: flex;
    flex-flow: row;
    margin-left: auto;
}
#navbar-login {
    display: flex;
    height: 100%;
}
#navbar-login p a {
    color: blue;
}
#navbar-login p {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/* cart logo */
#navbar-cart-box {
    display: flex;
    width: 6rem;
    height: 100%;
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
    height: 25%;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
}
#cart-icon {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/* cart quantity bubble */
.cart-qty-popup {
    display: flex;
    position: absolute;
    top: 0rem;
    right: 2rem;
    height: 15px;
    width: 15px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: rgb(107, 206, 173);
    border-radius: 50px;
}
.cart-qty-popup p {
    font-size: 10px;
    font-weight: bold;
    margin: 0 auto;
    color: white;
}